/nbproject/
/application/config/database.php
/application/config/email.php
/node_modules/
/application/vendor/
/assets/local/images/
/assets/local/js/
/assets/local/fonts/
/assets/local/css/
/assets/cache/
/assets/vendor/css/custom.css
/dbchanges/liquibase/update.php
/uploads/
/application/composer.lock
/application/nbproject/private/